<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-clientes-heading" jhiTranslate="pruebaJhipsterApp.clientes.home.createOrEditLabel">Create or edit a Clientes</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pruebaJhipsterApp.clientes.nombres" for="field_nombres">Nombres</label>
                    <input type="text" class="form-control" name="nombres" id="field_nombres"
                           formControlName="nombres"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pruebaJhipsterApp.clientes.appelidos" for="field_appelidos">Appelidos</label>
                    <input type="text" class="form-control" name="appelidos" id="field_appelidos"
                           formControlName="appelidos"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pruebaJhipsterApp.clientes.documentoTipo" for="field_documentoTipo">Documento Tipo</label>
                    <input type="text" class="form-control" name="documentoTipo" id="field_documentoTipo"
                           formControlName="documentoTipo"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pruebaJhipsterApp.clientes.documentoNumero" for="field_documentoNumero">Documento Numero</label>
                    <input type="text" class="form-control" name="documentoNumero" id="field_documentoNumero"
                           formControlName="documentoNumero"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
