<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ciudades">
            <h2><span jhiTranslate="pruebaJhipsterApp.ciudades.detail.title">Ciudades</span> {{ciudades.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pruebaJhipsterApp.ciudades.ciudad">Ciudad</span></dt>
                <dd>
                    <span>{{ciudades.ciudad}}</span>
                </dd>
                <dt><span jhiTranslate="pruebaJhipsterApp.ciudades.pais">Pais</span></dt>
                <dd>
                    <span>{{ciudades.pais}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ciudades', ciudades.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
